<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>ProRazrab</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/royal-preload.css" />
  </head>

  <body class="royal_preloader">
    <div id="page" class="site">
      <%- include("components/header") %>

      <div id="content" class="site-content">
        <div class="page-header flex-middle">
          <div class="container">
            <div class="inner flex-middle">
              <h1 class="page-title">Блог</h1>
              <ul id="breadcrumbs" class="breadcrumbs none-style">
                <li><a href="/">Главная</a></li>
                <li class="active">Блог</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="entry-content">
        <div class="container">
            <div class="row">
                <div class="content-area col-lg-9 col-md-12 col-sm-12 col-xs-12">
                  <% posts.forEach((data) => { %>

                    <article class="post-box">
                        <div class="post-inner">
                            <div class="entry-media">
                                <div class="post-cat">
                                    <span class="posted-in"><a href="#">Design</a> <a href="#">Development</a></span>
                                </div>
                                <a href="/posts/<%= data.attributes.slug %>"><img src="http://localhost:1337<%= data.attributes.image.data.attributes.url %>" alt=""></a>
                            </div>
                            <div class="inner-post">
                                <div class="entry-header">
                                    <div class="entry-meta">
                                        <span class="posted-on">_ <a href="#"><%= data.attributes.date %></a></span>
                                    </div>
                                    <h3 class="entry-title"><a href="/posts/<%= data.attributes.slug %>"><%= data.attributes.title %></a></h3>
                                </div>
                                <div 
                                class="entry-summary the-excerpt" 
                                style="
                                  -webkit-line-clamp: 6;
                                  display: -webkit-box;
                                  -webkit-box-orient: vertical;
                                  overflow: hidden;
                                ">
                                    <p><%- data.attributes.redactor %></p>
                                </div>
                                <div class="btn-readmore"><a href="/posts/<%= data.attributes.slug %>"><i class="flaticon-right-arrow-1"></i> LEARN MORE</a></div>
                            </div>
                        </div>
                    </article>

                  <% }) %>
                    <ul class="page-pagination none-style">
                      <% if (currentPage > 1) { %>
                      <li><a class="prev page-numbers" href="?page=<%= currentPage-1 %>"><i class="flaticon-back"></i></a></li>
                      <% } %>
                      
                      <% for (let i = 0; i < pages.length; i++) { %>
                        <% if (pages[i] === parseInt(currentPage)) { %>
                      <li><span aria-current="page" class="page-numbers current"><%= pages[i] %></span></li>
                        <% } else { %>
                      <li><a class="page-numbers" href="?page=<%= pages[i] %>"><%= pages[i] %></a></li>
                        <% } %>
                      <% } %>
                      <% if (currentPage < pages.length) { %>
                      <li><a class="next page-numbers" href="?page=<%= 1 + parseInt(currentPage)%>"><i class="flaticon-right-arrow-1"></i></a></li>
                      <% } %>
                    </ul>
                </div>
                <div class="widget-area primary-sidebar col-lg-3 col-md-12 col-sm-12 col-xs-12">
                  <aside class="widget widget_categories">
                      <h5 class="widget-title">Категории</h5>
                      <ul id="categoryLists">
                      </ul>
                  </aside>
                  <aside id="search-2" class="widget widget_search">
                      <form role="search" method="get" id="search-form" class="search-form">
                          <input type="search" class="search-field" placeholder="Search…" value="" name="s">
                          <button type="submit" class="search-submit"><i class="flaticon-search"></i></button>
                      </form>
                  </aside>
                  <aside class="widget widget_recent_news">
                      <h5 class="widget-title">Недавние посты</h5>
                      <ul id="recentPostLists" class="recent-news clearfix">
                        <!-- в файле app.js динамич файлы -->
                      </ul>
                  </aside>
                  <aside class="widget widget_tag_cloud">
                      <h5 class="widget-title">Тэги</h5>
                      <div id="tagLists" class="tagcloud">
                      </div>
                  </aside>
              </div>
            </div>
        </div>
    </div>


      <footer id="site-footer" class="site-footer footer-v2">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <img src="images/logo-light.svg" alt="" />
            </div>
          </div>
          <div class="space-60"></div>
          <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6">
              <div class="contact-info box-style2 ft-contact-info">
                <div class="box-icon"><i class="flaticon-world-globe"></i></div>
                <p>Наб. реки Мойки, 22, Санкт-Петербург</p>
                <h6>Наш Адрес</h6>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="contact-info box-style2 ft-contact-info">
                <div class="box-icon"><i class="flaticon-envelope"></i></div>
                <p>prorazrab@inbox.ru</p>
                <h6>Наша Почта</h6>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="contact-info box-style2 ft-contact-info">
                <div class="box-icon"><i class="flaticon-phone-1"></i></div>
                <p>+7 902 202 45-46</p>
                <h6>Наш Телефон</h6>
              </div>
            </div>
          </div>
          <div class="space-65"></div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="footer-menu">
                <ul>
                  <li><a href="/">Главная</a></li>
                  <li><a href="it-services">Услуги</a></li>
                  <li><a href="portfolio">Проекты</a></li>
                  <li><a href="blog">Блог</a></li>
                  <li><a href="contact">Контакты</a></li>
                </ul>
              </div>
              <div class="space-20"></div>
              <p class="copyright-text v2">
                Copyright © 2020 ProRazrab by ThemeModern. All Rights Reserved.
              </p>
              <div class="space-26"></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- #site-footer -->
    </div>
    <!-- #page -->
    <a id="back-to-top" href="#" class="show">
      <i class="flaticon-up-arrow"></i>
    </a>
    <!-- jQuery -->
    <script src="/js/app.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/easypiechart.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/header-mobile.js"></script>
    <script src="/js/royal_preloader.min.js"></script>
    <script>
      window.jQuery = window.$ = jQuery
      ;(function ($) {
        'use strict'
        //Preloader
        Royal_Preloader.config({
          mode: 'logo',
          logo: '/images/logo.svg',
          logo_size: [160, 75],
          showProgress: true,
          showPercentage: true,
          text_colour: '#000000',
          background: '#ffffff',
        })
      })(jQuery)
    </script>
    <script>
      
    </script>
  </body>
</html>
